*{
	padding: 0;
	margin:0;
	border:0;
}
*,*:before,*:after{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
:focus,:active{outline:none;}
a:focus,a :active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{
	height: 100%;
	width:100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button ::-moz-focus-inner {pudding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li {list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:400;}

.hederBody{
	background: black;
width: 446px;
height: 14px;
color: #ffffff;
font-family: "Helvetica Neue LT - Condensed";
font-size: 19px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 22px;
text-align: left;
text-transform: uppercase;
font-style: normal;
letter-spacing: normal;
line-height: normal;
width: 100%;
height: auto;
box-sizing:border-box;
text-align: center;


}

.hederFlex{
	display: flex;
	text-align: center;
	flex-direction: row-reverse;
	padding-right: 13%;
	 
}
.iconSocSet{
	display: block;
	background-color: red;
	border-radius: 24px;
	box-sizing: border-box;
	width: 30px;
	height: 30px; 
	border: 3px solid white; 
	margin: -1% 3% 0% 3%;  
	padding-top: 3px; 
}
.logo{
position:absolute;
width: 10%;
height: 16%;
object-fit: cover;
box-sizing: border-box;
background: url(../img/d7vyves-18a6ca58-6382-4ff2-9c1e-c46a5b60c16d.png) no-repeat;
background-size: contain;
margin-left: 1%;
}


.bodyTop{
color: #000000;
font-family: "Perpetua Titling MT";
font-size: 23px;
font-weight: 300;
font-style: normal;
letter-spacing: normal;
line-height: 22px;
text-align: left;
font-style: normal;
letter-spacing: normal;
line-height: normal;
text-align: center;
padding: 15px;
}
.bodyImg{
	width: 100%;
	height: 40%;
	background: url(../img/rome-sunset.jpg);
	background-size: cover;
	overflow: hidden;
} 
.bodyShadow{
	width: 100%;
	height: auto;

}
.bodyButton{
text-align: center;
border: 1px solid #cccccc ;
}
.avatar{
	display: block;
	position: absolute;
margin:-5% 0 0 3%; 
}
.UserName{
color: #000000;
font-family: "Helvetica Neue";
font-size: 22px;
font-style: normal;
letter-spacing: normal;
line-height: 22px;

}
.LevelSkill{
font-family: "Helvetica Neue";
font-size: 20px;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}
.footer{
	display: flex;
	border: 1px solid #cccccc ;
	padding: 20px;
}
.foterLeft{
	width: 40%;
color: #585555;
font-family: "Helvetica CE";
font-size: 16px;
font-style: normal;
letter-spacing: normal;
line-height: 22px;
text-align: justifyLeft;
font-style: normal;
letter-spacing: normal;
line-height: normal;
}